<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank App</title>
    <link href="{{ url_for('static', filename = 'styles/style.css')}}" rel="stylesheet"/>
  
</head>

<body class="login-page"> 

<div class="container">

 
    <form id="loginForm" action="/login" method="POST">
    <h2>Bank Login</h2>

    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <button type="submit">Login</button>

    <div class="toggle">
        Don't have an account? <span onclick="showSignup()">Sign up</span>
    </div>
</form>


   <form id="signupForm" class="hidden" action="/signup" method="POST">
    <h2>Create Account</h2>

    <input type="text" name="username" placeholder="Username" autocomplete="username">

    <input type="password" name="password" placeholder="Password" autocomplete="new-password">

    <input type="number" name="balance" placeholder="Starting Balance">

    <button type="submit">Sign Up</button>

    <div class="toggle">
        Already have an account? <span onclick="showLogin()">Login</span>
    </div>
</form>

</div>

<script>
    function showSignup() {
        document.getElementById("loginForm").classList.add("hidden");
        document.getElementById("signupForm").classList.remove("hidden");
    }

    function showLogin() {
        document.getElementById("signupForm").classList.add("hidden");
        document.getElementById("loginForm").classList.remove("hidden");
    }
</script>

</body >
</html>