.hidden {
    display: none;
}

.login-page {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}


h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #2d6cdf;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1f4fa8;
}

.toggle {
    margin-top: 15px;
    font-size: 14px;
}

.toggle span {
    color: #2d6cdf;
    cursor: pointer;
}



.balance-box {
    background: #eaf1ff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}


.transaction-box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background: #f8f9fb;
}


.dashboard-body {
    display: block;
    height: auto;
}


h1 {
    color: #2d6cdf;
}